<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザー名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to '編集', edit_user_path(@user) %>
<%= link_to '削除', user_path(@user), method: :delete %>
